* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bg-lineare {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* For browsers that do not support gradients */
    /* background-image: linear-gradient(to bottom, red 0px, red 20px, blue 20px, blue 100px); */
    background-image: linear-gradient(to bottom, #009688 0px, #009688 50px, #dadbd4 20px, #dadbd4 100px);

}