* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



.container-fluid {
    height: 100%;
}

.chat-list,
.chat-area {
    height: 100%;
    overflow-y: auto;
}

.chat-list {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.chat-area {
    background-image: url('../img/mine.jpg');
    position: relative;
}

.chat-header {
    background-color: #e6e6e6;
    color: black;
    padding: 10px;
}

.chat-footer {
    background-color: #f8f9fa;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #dee2e6;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chat-messages {
    padding-bottom: 60px;
    /* Space for the footer */
}

.chat-message {
    background-color: #dcf8c6;
    border-radius: 7.5px;
    padding: 8px;
    margin: 5px 0;
}

.chat-message.sent {
    background-color: #ffffff;
}